{%	load	static	%}
<html>
				<head>
								<title> Usuf's Blog @ Django Girls</title>
								<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
								<link	rel="stylesheet"	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
								<link	href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext'	rel='stylesheet'	type='text/css'>
								<link	rel="stylesheet"	href="{%	static	'css/blog.css' %}">
				</head>
				<body>
								<div	class="page-header">
									    {%	if	user.is_authenticated	%}
	                     <a	href="{%	url	'post_new'	%}"	class="top-menu"><span	class="glyphicon	glyphicon-plus"></span></a>
                      {%	endif	%}
								 			<h1><a	href="/">Welcome To My Blog (click here to add a blog)</a></h1>
								</div>
								<div class="">
									<a	href="{%	url	'post_new'	%}"	class="top-menu"><span	class="glyphicon	glyphicon-plus"></span></a>
														 <h1><a	href="/">Any thing you would like to know on Django for website development your highluy Welcome at Django Girls Busia </a></h1>
                               <h1> These are some of Django uses</h1>
														   <p class="glyphicon	glyphicon-plus"> It's free and open source. Django was designed to help developers take applications from concept to completion as quickly as possible. Django includes dozens of extras you can use to handle common Web development tasks.</p>

								</div>
								<div	class="content	container">
												<div	class="row">
																<div	class="col-md-8">
																				{%	block	content	%}
																				{%	endblock	%}
																</div>
												</div>
								</div>




				</body>
</html>
